<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.map.mapper.MarkerMapper">

    <select id="markerList" resultType="com.map.VO.MarkerVO">
        SELECT 
        	* 
        FROM 
        	marker 
        WHERE 
        	use_yn='Y';
    </select>

	<!-- <insert id="markerInsert" parameterType="com.map.VO.MarkerVO">
        INSERT INTO map_marker (x_coordinate, y_coordinate, category, use_yn) 
        VALUES (#{x_coordinate}, #{y_coordinate}, '기타', 'Y');
    </insert> -->
</mapper>      